* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: inherit;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
.flex {
  display: flex;
}
.portion {
  flex: 1;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
body {
  background-color: #f6f6f6;
}

nav {
  position: sticky;
  top: 0;
  z-index: 999;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  padding-top: 20px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #c1c1c1;
  box-shadow: 50px 0 5px #f6f6f6;
  row-gap: 20px;

  ul {
    align-items: center;
    column-gap: 30px;
    font-size: 16px;
  }
  @media (max-width:720px) {
    &{
      flex-direction: column;
    }
  }
  @media (max-width:440px) {
    &{
      flex-direction: column;
      ul{
        justify-content: center;
        flex-wrap: wrap;
        li{
          text-align: center;
        }
      }
    }
  }
}

header {
  height: 90vh;
  align-items: center;
  justify-content: space-between;

  .headerText {
    h1 {
      font-size: 90px;
      font-weight: 100;
    }
    p {
      max-width: 400px;
      font-size: 16px;
      margin: 10px 0;
      margin-bottom: 20px;
      line-height: 1.5;
    }
  }

  .headerBtn {
    padding: 6px 12px;
    padding-bottom: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 7px;

    transition: all 0.3s;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.7;
    }
  }

  img {
    width: 624px;
    height: 437px;
  }

  @media (max-width:550px) {
    &{
      flex-direction: column;
      .headerText{
        h1{
        font-size: 60px;
      }
      }
      .portion{
        flex: unset;
      }
      img{
        display: none;
      }
    }
  }
  @media (max-width:920px) {
    &{
      text-align: center;
      height: unset;
      margin: 20px 0;
      .headerText{
        h1{
        font-size: 70px;
        margin-top:30px ;
        }
      }
      img{
        width: 50%;
      }
    }
  }
}

#brands {
  justify-content: space-between;
  margin-bottom: 50px;
  padding-top: 80px;

  @media (max-width:420px) {
    &{
      display: none;
    }
  }
  @media (max-width:920px) {
    &{
      display: none;
    }
  }
}

#premium {
  h2 {
    padding-top: 120px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
}

section#premium .container {
  display: grid;
  grid-template: 250px 250px/2fr 1fr 1fr;
  gap: 2rem;
}
section#premium .product:nth-child(1) {
  grid-row: span 2;
}
.product {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
}
.product img {
  max-height: 100%;
}
.product .details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}
.product:hover .details {
  transform: translateY(0);
}
.product:nth-child(1) {
  grid-row: span 2;
}
@media (max-width:720px) {
    section#premium .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
section#premium .product:nth-child(1) {
  grid-row: span 2;
}
.product{
  width: 70%;
  margin: 0 auto;
}
}


#new {
  h2 {
    padding-top: 120px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
  .newCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;

    .product {
      width: 300px;
      height: 400px;
      img {
        max-height: 100%;
      }
    }
  }

  @media (max-width:720px) {
    & .newCards{
      align-items: center;
      flex-direction: column;
      row-gap: 20px;
      .product {
      width: 230px;
      height: 370px;
    }
  }
  @media (max-width:440px) {
    &{
      flex-direction: column;
      ul{
        flex-wrap: wrap;
        li{
          text-align: center;
        }
      }
    }
  }
}
}

#best {
  h2 {
    padding-top: 120px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }

  .bestSellers {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .product {
      width: 300px;
      height: 400px;
      img {
        max-height: 100%;
      }
    }
  }

  @media (max-width:720px) {
    & .bestSellers{
      flex-direction: column;
      row-gap: 20px;
      .product {
      width: 230px;
      height: 370px;
    }
  }
  @media (max-width:440px) {
    &{
      flex-direction: column;
      ul{
        flex-wrap: wrap;
        li{
          text-align: center;
        }
      }
    }
  }
}
}

footer {
  position: relative;
  bottom:0;
  background-color: #fff;
  margin-top: 50px;
  padding-top: 50px;
  p {
    margin: 50px 0;
  }
  .socials {
    display: flex;
    gap: 30px;
    font-size: 19px;
  }
  .portion {
    ul {
      padding: 0;
    }
  }

  .footerBottom {
    margin-top: 50px;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.862);
    .flex {
      justify-content: space-between;
      align-items: center;
      color: #fff;

      p {
        margin: 0;
      }
      .btn {
        color: #fff;
      }
    }
  }
  @media (max-width:720px) {
    & .container{
      flex-direction: column;
      text-align: center;
      h2{
        font-size: 20px;
      }
      p{
        margin: 15px 0;
      }
      p, ul{
        font-size: 15px;
      }
      ul{
        text-align: center;
        display: flex;
        column-gap: 10px;
        row-gap: 5px;
      }
      .socials{
        justify-content: center;
        text-align: center;
        margin-bottom: 15px;
      }
    }
    .footerBottom{
      img{
        max-width: 100%;
        margin: 10px 0;
      }
    }
  }
  @media (max-width:440px) {
    &{
      flex-direction: column;
      ul{
        flex-wrap: wrap;
        li{
          text-align: center;
        }
      }
    }
  }
}

/* * * * * * Search Part * * * * * */

form {
  input {
    margin: 80px 0 50px;
  }
}

main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 20px;

  h3{
    position: absolute;
    z-index: 999;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: .5;
    font-size: 20px;
  }
  .product {
    width: 300px;
    height: 400px;
    img {
      max-height: 100%;
    }
    p{
      font-size: 1px;
      padding: 0;
      opacity: 0;
    }
  }
}
